@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background:black;
    /* margin:0; */
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.top__bg{
    box-sizing: border-box;
    margin-top:2.5rem;
    margin-left: auto;
    margin-right: auto;
    width:75%;
background-repeat: no-repeat;
background-image: linear-gradient(to bottom right, #E3D6C3, #E5C9A5);
height: 110vh;
border-radius: 0.75rem;
}
.logo{
    position: absolute;
    margin-left: 2rem;
    top: 4.6rem;
    /* left: 13%; */
    transform: translate(-50%, -50%);
    height: 1.3vw;
    width: 2.6vw;
    transform: rotate(90deg);
    border-radius: 9.375rem 9.375rem 0 0;
    background-color: black;
    
}


nav ul {
    display: flex;
    justify-content:space-around;
    /* margin: 1rem ;
    padding: 0; */
    list-style-type: none;
    /* text-align: center; */
    /* margin-top: 1.5rem; */
}

.other{
    display: flex;
    margin: 0 2rem;
}
nav ul li a button{
    width: 120%;
    font-size: 1.2vw;
    padding:0.5rem;
    background-color:#DEAE73;
    border:1px solid #DEAE73;
    color:black;
    margin-top:-0.9rem;
    /* margin: 0 0 0 1.5rem; */
    border-radius: 0.3rem;
}
nav li {
   /* padding-top: 0.2rem; */
   margin-top: 1.5rem;
}
nav a {
    font-size: 1.4vw;
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.5rem 0.5rem;
}

main{
    width: 90%;
    margin: 0 auto;
    padding-top: 0.5rem;
    display: block;

}
/* main .first-content{
    margin: 0.2rem 0;
} */
main .first-text{
    font-size: 1.6vw;
}
main h1{
    font-size: 3.5vw;
    font-weight: bolder;
}
form{
    font-size: 1.8vw;
    word-spacing: 0.2vw;
    font-weight: bold;
}
form div{
    margin-top: 1.3rem;
}
input[type=text] {
    width: 20%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    background: transparent;
    color: grey;
    font-weight: lighter;
    text-align: center;
    outline:none;
}
input[type=email]{
    margin-top:0.3rem;
    width: 20%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    background: transparent;
    color: grey;
    font-weight: lighter;
    text-align: center;
    outline:none;
}
select{
    width: 20%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    background: transparent;
    color: grey;
    font-weight: lighter;
    text-align: center;
    outline:none;
}
/* styling checkbox */
.container {
   
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.5vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.container input{ 
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
.checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 2vw;
        width: 2vw;
        background-color:transparent;
        border: 1px solid black;
        /* border-radius: 0.3rem; */
      }
      .container input:checked ~ .checkmark {
        background-color: #2196F3;
      }
form button{
    background: black;
    color: white;
    width: 20%;
    padding:1.1vw;
margin-top:0.6rem;
    text-align: center;
    border:none;
    font-size: 1.4vw;
border-radius: 6px;
}
section{
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding:1vw;
    font-size: 1vw;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0.6rem;
    width: 90%;
   
}
section div{
    margin-right:1vw;
/* padding:0.5rem; */
}
figure{
    display: flex;
    justify-content: space-around;
    margin: 0 0.6rem 0 0;
    flex-wrap: nowrap;
}
figure img{
    max-width: 100%;
    height:3vw;
    width: 3vw;
    border-radius: 50%;
}
figcaption{
   margin-left: 0.4rem; 
   margin-top: 0.3rem;
}
.fig-name{
    font-weight: bold;
}
.service span{
    font-weight: bold;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
   width: 90%;
    color:grey;
    font-size: 1.1vw;
    padding: 0 2vw;
}


/* Mobile view */







@media screen and (max-width: 1366px){

}

@media screen and (max-width: 962px){
    .top__bg{
        box-sizing: border-box;
        margin-top:1.5rem;
        margin-left: auto;
        margin-right: auto;
        width:70%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, #E3D6C3, #E5C9A5);
    height: 85vh;
    border-radius: 0.75rem;
}
.logo{
    position: absolute;
    margin-left: 1rem;
    margin-top: 0.8rem;
    top: 1.5rem;
    /* left: 13%; */
    transform: translate(-50%, -50%);
    height: 1.3vw;
    width: 2.6vw;
    transform: rotate(90deg);
    border-radius: 9.375rem 9.375rem 0 0;
    background-color: black;
    
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
   align-items: center;
    list-style-type: none;
    
}
nav a {
    font-size: 1vw;
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.2rem;
}
nav ul li a button{
    width: 120%;
    padding:0.3rem;
    background-color:#DEAE73;
    border:1px solid #DEAE73;
    color:black;
    font-size: 1.2vw;
    margin-top:0.5rem;
    /* margin: 0 0 0 1.5rem; */
    border-radius: 0.3rem;
}
.other{
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}
nav li {
    /* padding-top: 0.2rem; */
    margin-top: 0.5rem;
 }
 main{
    width: 90%;
    margin: 0 auto;
    padding-top: 0.5rem;
    display: block;

}

input[type=text] {
    font-size: 1.4vw;

} 

input[type=email]{
    font-size: 1.4vw;
}
select{
    font-size: 1.4vw;
}
section{
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
}








}
@media screen and (max-width: 768px) {
    .top__bg{
        box-sizing: border-box;
        margin-top:1.5rem;
        margin-left: auto;
        margin-right: auto;
        width:70%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to bottom right, #E3D6C3, #E5C9A5);
        height: 80vh;
        border-radius: 0.75rem;
}
.logo{
    position: absolute;
    margin-left: 1rem;
    margin-top: 0.8rem;
    top: 1.5rem;
    /* left: 13%; */
    transform: translate(-50%, -50%);
    height: 1.3vw;
    width: 2.6vw;
    transform: rotate(90deg);
    border-radius: 9.375rem 9.375rem 0 0;
    background-color: black;
    
}
nav ul {
    display: flex;
    flex-wrap: nowrap;
   align-items: center;
    list-style-type: none;
    
}
nav a {
    font-size: 1vw;
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.2rem;
}
nav ul li a button{
    width: 120%;
    padding:0.3rem;
    background-color:#DEAE73;
    border:1px solid #DEAE73;
    color:black;
    font-size: 1.2vw;
    margin-top:0.5rem;
    /* margin: 0 0 0 1.5rem; */
    border-radius: 0.3rem;
}
.other{
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}
nav li {
    /* padding-top: 0.2rem; */
    margin-top: 0.5rem;
 }
 main{
    width: 90%;
    margin: 0 auto;
    padding-top: 0.5rem;
    display: block;

}

input[type=text] {
    font-size: 1.4vw;

} 

input[type=email]{
    font-size: 1.4vw;
}
select{
    font-size: 1.4vw;
}
section{
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
}

}

@media screen and (max-width: 411px) {
    .top__bg{
        box-sizing: border-box;
        margin-top:3rem;
        margin-left: auto;
        margin-right: auto;
        width:70%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to bottom right, #E3D6C3, #E5C9A5);
        height: 60vh;
        border-radius: 0.75rem;
}
.logo{
    position: absolute;
    margin-left: 1rem;
    margin-top: 0.8rem;
    top: 1.5rem;
    /* left: 13%; */
    transform: translate(-50%, -50%);
    height: 1.3vw;
    width: 2.6vw;
    transform: rotate(90deg);
    border-radius: 9.375rem 9.375rem 0 0;
    background-color: black;
    
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
   align-items: center;
    list-style-type: none;
    
}
nav a {
    font-size: 1.4vw;
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.2rem;
}
nav ul li a button{
    width: 120%;
    padding:0.3rem;
    background-color:#DEAE73;
    border:1px solid #DEAE73;
    color:black;
    font-size: 1.2vw;
    margin-top:0.5rem;
    /* margin: 0 0 0 1.5rem; */
    border-radius: 0.3rem;
}
.other{
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}
nav li {
    /* padding-top: 0.2rem; */
    margin-top: 0.5rem;
 }
 main{
    width: 90%;
    margin: 0 auto;
    padding-top: 0.5rem;
    display: block;

}

input[type=text] {
    font-size: 1.4vw;

} 

input[type=email]{
    font-size: 1.4vw;
}
select{
    font-size: 1.4vw;
}
section{
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
}







}